<h1><%= @product.name %></h1>
 <%= @product.description %>

<%= link_to "Back", products_path %>
<%= link_to "Edit", edit_product_path(@product) %>
<% if user_signed_in? %>
<%= link_to "New product", new_product_path, class: "new-product" %>
<% end %>
<%= button_to "Delete", @product, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
<%= image_tag @product.featured_image if @product.featured_image.attached? %>

